* {
    padding: 0;
    margin: 0;
}


#svgBackground {
    fill: #87fbff;
}

#hourglass {
    fill: #e8feff;
    stroke: black;
    stroke-width: 1px;
}

#interactInfo {
    user-select: none;
}

#initialSand, #topSand, #bottomSand {
    fill: #fccf7c;
    
}

#sandLine {
    stroke: #fccf7c;
    stroke-width: 2px;
}

.arrows {
    fill:none;
    stroke-width: 2px;
    stroke: black;
}

#showDoc, #hideDoc {
    border: 1px solid;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    max-width: 160px;
}



