* {
    padding: 0;
    margin: 0;
}


#svgBackground {
    fill: #87fbff;
}

#hourglass {
    fill: #e8feff;
    stroke: black;
    stroke-width: 1px;
}

#interactInfo {
    user-select: none;
}

#topSand, #bottomSand {
    fill: #fccf7c;
}

/* #bottomSand {
    fill: #fccf7c;
} */

/* @keyframes pourDown {
    from {
        transform: scale(1);
    }
    to {
        transform:scale(0) ;
    }
} */

